body {
    font-family: 'Verdana', sans-serif;
}
h1, h2, h3 {
    font-weight: 580;
}
.blueberry-muffins {
    color: #00008b;
}
.muffins-specifics, .chicken-specifics {
    font-size: 18px;
}
.chicken-headings {
    color: 	#c70000;
}
.cheddar-headings {
    color: #004600;
}